run = "python3 main.py"
entrypoint = "README.md"
modules = ["python-3.11"]

[nix]
channel = "stable-23_11"
packages = ["glibcLocales", "libiconv"]

[[ports]]
localPort = 8080
externalPort = 80

[deployment]
deploymentTarget = "gce"
run = "python3 main.py"

[agent]
expertMode = true
