run = "python3 main.py"
entrypoint = "README.md"
modules = ["python-3.11"]

[nix]
channel = "stable-23_11"
packages = ["glibcLocales", "libiconv"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 8080
externalPort = 80

[[ports]]
localPort = 45347
externalPort = 3000

[deployment]
deploymentTarget = "gce"
run = "python3 main.py"

[agent]
expertMode = true
integrations = ["google-sheet:1.0.0"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "FastAPI Server"

[[workflows.workflow]]
name = "FastAPI Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"
